/* Define a style for buttons */
/* Define a common style for buttons and toggle buttons */
.button, .togglebutton {
    -fx-background-color: #333333; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-padding: 10px 20px; /* Padding */
    -fx-border-radius: 50px; /* Rounded corners */
    -fx-background-radius: 20px; /* Rounded background */
    -fx-font-size: 15px; /* Font size */
    -fx-cursor: hand; /* Pointer cursor on hover */
    -fx-font-family: 'Poppins'; /* Custom font */
    -fx-font-weight: bold; /* Bold font */
    -fx-transition: background-color 0.5s ease, -fx-scale-x 0.3s ease, -fx-scale-y 0.3s ease; /* Transition for background color and scale */
}

/* Define a hover effect for buttons and toggle buttons */
.button:hover, .togglebutton:hover {
    -fx-background-color: #9370DB; /* Darker green on hover */
}

/* Define a click effect for buttons and toggle buttons */
.button:pressed, .togglebutton:pressed {
    -fx-background-color: #9370DB; /* Light purple background on click */
    -fx-scale-x: 0.95; /* Reduce width */
    -fx-scale-y: 0.95; /* Reduce height */
}
@font-face {
    font-family: 'Poppins';
    src: url('/Font/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/Font/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('/Font/Poppins/Poppins-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family : 'Chess Alpha';
    src: url('/Chess_font/Chess_Alpha/Alpha.ttf');
}
* {
    -fx-font-family: 'Poppins';
}

.custom-font {
    -fx-font-family: 'Poppins';
    -fx-font-size: 16px;
}
.label {
    -fx-font-family: 'Poppins';
    -fx-font-size: 20px;
    -fx-text-fill: white;

}
.label2 {
    -fx-font-family: 'Poppins';
    -fx-font-size: 12px;

}

.stopwatch {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 15px;
    -fx-background-color: #333333;
    -fx-max-height: 10px;
}
.stopwatch-active {
    -fx-background-color: #9370DB; /* Colore viola */
    -fx-text-fill: white;
}

.slider {
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #333333 0%, #555555 50%, #333333 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-padding: 0.25em;
    -fx-pref-height: 15px;
}

.slider .thumb {
    -fx-background-color: #9370DB;  /* Puoi cambiare questo colore per adattarlo al tema */
    -fx-background-radius: 50%;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4, 0.5, 0, 0);
}

.slider .tick-mark {
    -fx-stroke: #666;
    -fx-opacity: 0.5;
}

.slider .tick-label {
    -fx-font-size: 12px;
    -fx-fill: #ccc;
}

.Headers {
    -fx-font-family: 'Poppins';
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.statslabel {
    -fx-font-family: 'Poppins';
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: thin;
    -fx-max-height:10px;
}
.choiceactive {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    -fx-text-fill: white;
    -fx-padding: 0 10 10 10 ;

}
/* Add this to your existing Style.css */
.vbox-border-purple {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    -fx-border-color: #9370DB;
    -fx-text-fill: white;
    -fx-padding: 0 10 10 10 ;
}
.scroll-pane .viewport {
    -fx-background-color:  #1E1E1E;
}
.scroll-pane .scroll-bar {
    -fx-background-color:  transparent;
}

.archivebuttons{
    -fx-pref-width: 600px;
    -fx-pref-height: 100px;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
    -fx-min-height: 100px;

}
.indietro{
    -fx-text-fill: white;
    -fx-pref-height: 50px;
    -fx-pref-width: 130px;
}
.boards {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.2), 40, 0.0, 0, 0); /* White color with 50% opacity, blur radius 10 */
}

